<html>

<head>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<script src="js/bootstrap.js"></script>
	<title>Privacy policy</title>
</head>

<body>
	<div class="container-fluid">
		<h1 align="center">Instagrammer privacy policy</h1>
	</div>

	<div class="container">
		<p>Policy's here</p>
	</div>
</body>

</html>